<div class="zurb-row main-action-bar">
    <div class="large-3 medium-4 columns">
        &nbsp;
    </div>
    <div class="large-9 medium-9 columns">
        <h2>What company do you work for?</h2>
    </div>
</div>
<div class="zurb-row">
    <div class="columns">
        <%= render :partial => 'company_form' %>
    </div>
</div>

