<% if user.is_a?(CompanyUser) %>
  <h1 class="center">
      Company Contacts
  </h1>
  <div class="zurb-row">
      <div class="columns margin-bottom">
          <% if user.is_created_by?(current_user) %>
            <%= link_to 'Add Company Contact', new_contact_path(type: PersonUser.name, association_type: Constants::EMPLOYEE, contact_id: user.id), class: 'btn' %>
          <% end %>
          <% if user.employees.any? %>
            <%= render :partial => 'contacts/company/company_contacts_table', :locals => {owner: current_user, users: user.employees} %>
          <% end %>
      </div>
  </div>
<% end %>