<table class="grid-view margin-bottom responsive" summary="Contacts List">
    <thead>
    <tr>
        <th>Name</th>
        <th>Primary Phone</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <% users.each do |user| %>
      <tr class="clickable" data-name="clickable">
          <td>
              <%= user.display_name %>
              <%= link_to 'Show', contact_path(user), target: '_blank', data: {name: 'clickable-link'}, :style => 'display: none' %>
          </td>
          <td><%= user.primary_phone %></td>
          <td><%= user.email  %></td>
      </tr>
    <% end %>
    </tbody>
</table>