<div>
    <%= render(:partial => "layouts/sub_navigation/people") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to 'New Relationship', new_contact_relationship_path(@user), class: 'btn' %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                Relationships of <%= @user.display_name %>
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <%= render :partial => 'users', :locals => {:relationships => @relationships} %>
        </div>
    </div>
</div>



