
<h1>All Contacts</h1>
<%= link_to 'New Company', new_contact_path(type: "CompanyUser") %>
<br/>
<%= link_to 'New Person', new_contact_path(type: "PersonUser") %>
<br/>

<%= render :partial => 'users', :locals => {:users => @users} %>
<br>


